:root {
    /* text color*/
    --primary-text-color: #757575;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --c-black: #000000;
    --c-white: #fff;
    --c-grey: color: rgba(255, 255, 255, 0.6);

    /* background color*/
    --bg-grey: #F5F4FA;
    --bg-white: #FFFFFF;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
}

body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.section {
    padding: 94px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

/*header*/

.logo {
    text-decoration: none;
    color: var(--c-black);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1932;
    display: block;
}

.logo span {
    color: var(--accent-color);
}

.header-link {
    display: inline-block;
    color: var(--header-text-color);
    padding: 32px 0 31px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-contact {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.header-block {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg-grey);
}

.navigation {
    margin-left: 91px;
}

.navigation-list {
    display: flex;
}

.navigation-item:not(:last-child) {
    margin-right: 52px;
}

.contacts {
    margin-left: auto;
}

.header-contacts {
    display: flex;
    align-items: left;
    gap: 50px;
}

/*hero*/
.hero-header {
    background-color: #2F303A;
    padding: 200px 0;
    display: block;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-block {
    display: block;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: var(--c-white);
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 30px;
}

.hero-button {
    width: 216px;
    height: 50px;
    color: var(--c-white);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
}

/*advantages section*/
.section-advantages {
    padding-bottom: 0;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    justify-content: center;
}
.advantages-card {
    display: block;
    max-width: 270px;
}
.advantages-card:not(:last-child){
    margin-right:30px;
}
.section-header {
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;   
    text-transform: uppercase;
    padding-bottom: 10px;
}

/*projects section*/
.section-title {
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    justify-content: center;
}
.projects-item:not(:last-child) {
    margin-right:30px;
}

/*team section*/
.team {
    background-color: var(--bg-grey);
}


.team-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.team-item {
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.team-img {
    display: block;
}

.team-desc {
    padding: 30px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
}

.team-name {
    padding-bottom:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--header-text-color);
}

/*footer*/
.footer-contacts {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-block {
    display: flex;
}

.footer-logo {
    display: block;
    color: var(--c-white);
}

.footer-address {
    display: block;
    margin-right: 70px;

}

.footer-contacts-link {
    text-decoration: none;
    color: var(--c-grey);
    font-style: normal;
    display: block;
}

.footer-contacts-item:first-child {
    margin-top: 20px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
    ;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--accent-color);
}

.map {
    color: var(--c-white);
}


/*Страница портфолио*/
.filter-work-type {
    display: flex;
    justify-content: center;
}

.work-type {
    display: flex;
    margin-bottom: 20px;
}
.work-filter:not(:last-child) {
    margin-right: 8px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    background-color: var(--bg-grey);
    border: 0 solid var(--bg-grey);
    border-radius: 4px;
    width: 125px;
    height: 38px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--c-white);
}
.work-list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px; 
}
.work-item> a {
    text-decoration: none;
    text-align: start;
    border-bottom: 1px solid var(--bg-grey); 
}

.work-title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
}

.work-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.work-img {
    display: block;
}
