:root {
    /* text color*/
    --primary-text-color: #757575;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --c-black: #000000;
    --c-white: #fff;
    --c-grey: color: rgba(255, 255, 255, 0.6);

    /* background color*/
    --bg-grey: #F5F4FA;
    --bg-white: #FFFFFF;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.section{
    padding: 94px 0;
}
.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

/*header*/

.logo {
    text-decoration: none;  
    color: var(--c-black);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1932;
    display: block;
}

.accent {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.header-link {
    color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-contact {
    color: var(--primary-text-color);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    max-width: 1600px;
    max-height: 80px;
}

.navigation-list {
    display: flex;
    margin-right: 344px;
}

.navigation-item:not(last-child) {
    margin: 50px;
}

.header-contacts {
    display: flex;
    align-items:flex-end;
    gap:50px;
}

/*hero*/
.hero-header {
    background-color: #2F303A;
    padding: 200px 0;
}
.hero-title {
    color: var(--c-white);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 30px;
}

.hero-button {
    width: 216px;
    height: 50px;
    color: var(--c-white);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
}

/*advantages section*/
.hidden {
    visibility: hidden;
}

.advantages-list {
    display: flex;
    justify-content: center;
}
.advantages-card {
    display: block;
    max-width: 270px;
}
.advantages-card:not(:last-child){
    margin-right:30px;
}
.section-header {
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;   
    text-transform: uppercase;
}

/*projects section*/
.section-title {
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    justify-content: center;
}
.projects-item:not(:last-child) {
    margin-right:30px;
}

/*team section*/
.team {
    background-color: var(--bg-grey);
}
.team-list{
    display: flex;
    justify-content: center;
}

.team-item {
    display: block;
    box-sizing: border-box;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-img {
    display: block;
}

.team-desc {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 30px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
}

.team-name {
    padding-bottom:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--header-text-color);
}

/*footer*/
.footer-contacts {
    background-color: #2F303A;
}

.footer-logo {
    display: block;
    color: var(--c-white);
    padding-top: 60px;
    padding-left: 215px;
    padding-bottom: 20px;
}

.footer-contacts-list{
    padding-bottom: 60px;
    padding-left: 215px;
}

.footer-contacts-link {
    text-decoration: none;
    color: var(--c-grey);
    font-style:normal;
    display: block;
}
.footer-contacts-link:not(:last-child) {
    margin-bottom: 9px;;
}

.map {
    color: var(--c-white);
}